<div id="initialContainer">
  <header id="handleBttn">
    <button id="menubtn" mat-flat-button [matMenuTriggerFor]="menu">
      Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/mision-vision']">Misi&oacute;n y visi&oacute;n</button>
      <button mat-menu-item [routerLink]="['/torneos']">Torneos</button>
    </mat-menu>

    <div id="separator"></div>
    <div id="btnfb">
      <button
        mat-icon-button
        [routerLink]="['/']"
        aria-label="Botón de inicio"
      >
        <mat-icon [ngStyle]="{ color: '#89ee68' }">home</mat-icon>
      </button>
      <a href="https://www.facebook.com/clubpescantioquia" target="_blank">
        <button mat-icon-button>
          <mat-icon>facebook</mat-icon>
        </button>
      </a>
    </div>
  </header>
  <div id="manejador">
    <section id="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <footer class="site-footer">
    <div class="footer-content">
      <div class="copyright">
        © {{currentYear}} Todos los derechos reservados | Josimar Sanchez
      </div>
      <div class="contact">
        <a href="mailto:josanchezag@gmail.com">
          <mat-icon>email</mat-icon>
          josanchezag@gmail.com
        </a>
      </div>
    </div>
  </footer>
</div>
